html {
    background-color: #1e1e1e;
    color: white;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    color: white;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
}

#app {
    height: 100vh;
}
